{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Editer un produit
    {% else %}
        Créer un produit
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1 class="mt-5">Modifier le produit</h1>
    {% else %}
        <h1 class="mt-5">Ajouter un nouveau produit</h1>
    {% endif %}

    {{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.category) }}
    <button type="submit" class="btn btn-success">VALIDER</button>
    {{ form_end(productForm) }}
{% endblock %}
