{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1 class="mt-5">Voici votre produit</h1>
    <div class="border border-dark m-4 p-3">
        <h3>{{ product.name }}</h3>
        <p><strong>{{ product.price }} €</strong></p>
        <p>{{ product.description }}</p>
        <a href="{{ path('app_product') }}" class="btn btn-primary">RETOUR</a>
    </div>
{% endblock %}
